* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #33FF33;
}
.card {
    width: 700px;
    background: #ffc2b4;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 28px;
}
/*scrollbar*/
::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#00DBDE, #FC00FF);
    border-radius: 100px;
}